player-connection-mode=Listen
player-connection-guid=3130089956
player-connection-debug=0
player-connection-project-name=Tanks
player-connection-ip=192.168.3.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=96bdae40c2a847c183e9e4392d51df35
