player-connection-mode=Listen
player-connection-guid=4143359718
player-connection-debug=0
player-connection-project-name=Tanks
player-connection-ip=192.168.3.29
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5dbb7c40552a49eab01270d05c03c37f
